<div
  class="card"
  [routerLink]="['/details', movie.id]"
  style="width: 18rem; min-height: 100%"
>
  <img
    [src]="[srcImg + movie.poster_path]"
    style="min-height: 27rem"
    class="card-img-top"
    alt="..."
  />
  <p class="ms-3">Relase date: {{ movie.release_date }}</p>
  <div class="card-body">
    <h5 class="card-title" style="min-height: 3rem; overflow: hidden">
      {{ movie.title }}
    </h5>
    <h5>Rating:{{ movie.vote_average.toFixed(2) }}</h5>
    <p class="card-text" style="max-height: 40%; overflow: hidden">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
</div>
