<div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title" style="min-height: 3rem; overflow: hidden">
      {{ movie.title }}
    </h5>
    <h5>Rating:{{ movie.vote_average.toFixed(2) }}</h5>
    <p class="card-text" style="max-height: 40%; overflow: hidden">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
