<div class="container-fluid">
  <div class="container">
    <nav class="navbar d-flex justify-content-between navbar-expand-lg">
      <a class="navbar-brand" href="#">Movies App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse d-flex justify-content-between"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav d-flex justify-content-evenly mr-auto w-100">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ng-container *ngFor="let genre of genres$ | async">
                <a
                  [routerLink]="['/search', genre.id]"
                  (click)="searchByGenre(genre)"
                  class="dropdown-item"
                  href="#"
                  >{{ genre.name }}</a
                >
              </ng-container>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form [formGroup]="form" class="form-inline d-flex my-2 my-lg-0">
          <input
            formControlName="searchText"
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          @if (searchMovies$ | async; as movies) {

          <div
            class="search border-1"
            style="position: absolute; top: 50px; background-color: white"
          >
            <ng-container *ngFor="let movie of movies?.slice(0, 5)">
              <p
                *ngIf="movies !== []"
                [routerLink]="['/details', movie.id]"
                class="movie m-0 p-2"
              >
                {{ movie.title }}
              </p></ng-container
            >
          </div>
          }
        </form>
      </div>
    </nav>

    <div class="container d-flex flex-wrap g-3 justify-content-evenly">
      <ng-container *ngFor="let movie of moviesGenre$ | async">
        <app-movie-card class="m-3" [movie]="movie"></app-movie-card>
      </ng-container>
    </div>
  </div>
</div>
