h1 {
  color: white;
}
h5 {
  color: white;
}
h3 {
  color: white;
}
p {
  color: white;
}
nav {
  background-color: #1a273c;
  a {
    color: white;
    font-size: 1.3rem;
  }
}
.container-fluid {
  background-color: #1a273c;
}
.dropdown-item {
  background-color: #1a273c;
}
.search {
  min-width: 200px;
  z-index: 2;
  p {
    color: black;
  }
}
.movie {
  border: 1px solid;
  min-width: 100%;
  cursor: pointer;
}
.movie:hover {
  background-color: blue;
  color: white;
}
.response {
  border: 1px solid;
  min-height: 300px;
  min-width: 50%;
  border-radius: 50px;
}
